<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="20200525" android:versionName="4.0.1" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="mark.via.gp" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="28"/>
    <uses-permission android:name="mark.via.permission.BROADCAST"/>
    <permission android:name="mark.via.permission.BROADCAST" android:protectionLevel="signature"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <application android:theme="@style/b" android:label="@string/b2" android:icon="@mipmap/ic_launcher" android:name="mark.via.BrowserApp" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|layoutDirection" android:windowSoftInputMode="adjustPan" android:allowBackup="true" android:hardwareAccelerated="true" android:supportsRtl="true" android:fullBackupContent="@xml/a" android:resizeableActivity="true" android:networkSecurityConfig="@xml/c" android:roundIcon="@mipmap/ic_launcher">
        <meta-data android:name="android.max_aspect" android:value="2.5"/>
        <activity android:label="@string/b2" android:name="mark.via.ui.activity.BrowserActivity" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection" android:alwaysRetainTaskState="true" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/d"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_BROWSER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <data android:scheme="javascript"/>
                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/markdown"/>
                <data android:mimeType="text/mht"/>
                <data android:mimeType="text/mhtml"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
                <data android:mimeType="application/vnd.wap.xhtml+xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name="mark.via.ui.activity.FileFinder"/>
        <activity android:name="mark.via.ui.settings.SettingsCatalog"/>
        <activity android:name="mark.via.ui.settings.PrivacySettings"/>
        <activity android:name="mark.via.ui.settings.AdvancedSettings"/>
        <activity android:name="mark.via.ui.settings.ScriptSettings"/>
        <activity android:name="mark.via.ui.settings.SkinSettings"/>
        <activity android:name="mark.via.ui.settings.GeneralSettings"/>
        <activity android:name="mark.via.ui.settings.AccountSettings"/>
        <activity android:name="mark.via.ui.settings.BlockSettings"/>
        <activity android:name="mark.via.ui.settings.OperationSettings"/>
        <activity android:name="mark.via.ui.bookmark.BookmarksManager"/>
        <activity android:name="mark.via.ui.activity.CrashActivity" android:process=":error_activity"/>
        <provider android:label="@string/g" android:name="mark.via.provider.BookmarksProvider" android:exported="true" android:multiprocess="false" android:authorities="mark.via.gp.database"/>
        <provider android:name="mark.via.provider.FileProvider" android:exported="false" android:authorities="mark.via.gp.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/b"/>
        </provider>
    </application>
</manifest>
